%div.woodchuck-summary
  %div.container.container-padding
    %div.row
      %div.col-md-9
        %div.panel.panel-default
          %div.panel-heading
            %h3
              Log Summary
          %div.panel-body#summary
            = render 'woodchucks/log_container'
            - if content_for?(:pagination)
              %div.fission-pagination= content_for(:pagination)
      %div.col-md-3
        - @logs.each do |log_source, logs|
          %ul.list-group
            %li.list-group-item.disabled= log_source
            - logs.each do |log|
              %li.list-group-item= link_to(log.path, woodchuck_path(log))
          %br