%div#logs_summary_graph
:javascript
  #{graph_generate('logs_summary_graph', :size => {:height => 200}, :axis => {:x => {:type => 'category', :categories => @categories}}, :legend => {:show => false}, :data => {:columns => @logs})}
