%div#logs_summary_graph
:javascript
  #{graph_generate('logs_summary_graph', :size => {:height => 200}, :axis => {:x => {:type => 'timeseries', :tick => {:format => '%Y-%m-%d %H'}}}, :legend => {:show => false}, :data => {:x => 'x', :columns => @logs})}
