%div#logs_summary_graph
:javascript
  #{graph_generate('logs_summary_graph', :size => {:height => 200}, :line => {:label => {:show => false}}, :legend => {:show => false}, :data => {:type => 'area-step', :columns => [['Log count', 1,30,8,4,24,3,21,14,35,43,23,25,56,43,30,22,10,5]]})}

